@font-face {
  font-family: "Computer Modern Sans";
  src: url("cm-unicode-0.7.0/cmunss.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("cm-unicode-0.7.0/cmunsi.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("cm-unicode-0.7.0/cmunsx.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url("cm-unicode-0.7.0/cmunso.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
